asn1crypto==0.24.0
boto3==1.11.9
botocore==1.14.9
configparser==3.5.0b2
cryptography==2.6.1
dbus-python==1.2.12
Django==3.0
django-crispy-forms==1.8.1
django-storages==1.8
docutils==0.15.2
entrypoints==0.3
enum34==1.1.6
futures==3.3.0
gyp==0.1
ipaddress==1.0.17
jmespath==0.9.4
keyring==18.0.1
keyrings.alt==3.1.1
pycrypto==2.6.1
PyGObject==3.34.0
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.25
s3transfer==0.3.2
SecretStorage==2.3.1
six==1.12.0
urllib3==1.25.8
Pillow==6.2.0
requests==2.19.1




