 {% extends 'login/login.html' %}

 {% block content %}

    <div class="container">
    
        {% comment %} <div class="row"> {% endcomment %}
            {% comment %} <div class="col-sm-6"> {% endcomment %}
            
             <center>
              <form action="" method="post" novalidate> {% csrf_token %}
                  <h3>Reset Password</h3>

                  <input type='text'>Email*</input>
                      
                  <div class="form-group">
                        <button class="btn-outline-info" type="submit">Request Password Reset</button>
                  </div>
              </form>
               </center>
            </div>
        </div>
    </div>

 {% endblock %}