{% extends 'books/base.html' %}     
                  
                    
{% block content %}

<div class="post container">
      <a href="{% url 'Myst_bookadd' %}" class="btn btn-info">Add</a>
      </div><br>                   
                  {% for p in post %}       
                  <div class="container">
                        <h2><a href="{% url 'mystery' pk=p.pk %}">{{ p.bookname }}</a></h2>
                        <p>{{ p.author }}</p>
                        <p> {{ p.published_date }}</p>
                  </div>
                  {% endfor %}


    {% endblock %}
            
